
// Default global theme variables from Shopwindow Setup -> Global Theme
// These can be edited by user.
$theme_anchor_colour: #0000ff;
$theme_global_text_fontfamily: "Roboto", sans-serif;
$theme_global_text_colour: #282626;
$theme_p_text_fontsize: 1.06em;
$theme_p_text_lineheight: 1.341;
$theme_h1_text_fontsize: 1.4em;
$theme_h1_text_lineheight: 1.27;
$theme_h2_text_fontsize: 1.28em;
$theme_h2_text_lineheight: 1.2;
$theme_h3_text_fontsize: 1.16em;
$theme_h3_text_lineheight: 1.2;
$theme_h4_text_fontsize: 1em;
$theme_h4_text_lineheight: 1.2;
$theme_h5_text_fontsize: 1em;
$theme_h5_text_lineheight: 1.2;
$theme_h6_text_fontsize: 0.8em;
$theme_h6_text_lineheight: 1.2;
$theme_blockquote_text_fontsize: 1em;
$theme_blockquote_text_lineheight: 1.2;
