
/* This is just the global theme defaults for the all in one view */


      a {
        color: #0000ff;
      }

      .lordekit-global-theme {
        font-family: "Roboto", sans-serif;
      }

      .lordekit-global-theme {
        color: #282626;
      }

      p {
        font-size: 1.06em;
      }

      p {
        line-height: 1.341;
      }

      h1 {
        font-size: 1.4em;
      }

      h1 {
        line-height: 1.27;
      }

      h2 {
        font-size: 1.28em;
      }

      h2 {
        line-height: 1.2;
      }

      h3 {
        font-size: 1.16em;
      }

      h3 {
        line-height: 1.2;
      }

      h4 {
        font-size: 1em;
      }

      h4 {
        line-height: 1.2;
      }

      h5 {
        font-size: 1em;
      }

      h5 {
        line-height: 1.2;
      }

      h6 {
        font-size: 0.8em;
      }

      h6 {
        line-height: 1.2;
      }

      blockquote {
        font-size: 1em;
      }

      blockquote {
        line-height: 1.2;
      }
