@import "assets/ailabs/jclosure/mixins/respond-to.scss";
@import "assets/ailabs/ella/mixins/ella-item-component.scss";

/** @fileoverview See README_CARDS_AND_CONTAINERS.txt
     The notes from my admirers fill the dashboard just the same.

    Designed for use with ella-grid-container or another container by Ella. */

.ella-dashboard-card {
  @include ella-item-component;

  padding: 8px 8px 12px 8px;

  @include respond-to($min: $medium) {
    /* More padding on desktop */
    padding: 24px;
  }

  /** Ella dashboard card title */
  .ella-dashboard-card-title {
    font-weight: 600;
    font-size: 16px;
  }
}
