
.ailabs-media-library-editmediafields-dialog {

  td {
    vertical-align: top;
  }

  .ailabs-powerled-label {
    width: 195px;
  }

  .ailabs-media-graphicview-ui-component {
    width: 16vw;
    height: 14vw;
  }
}
