
/** @fileoverview Stylesheet for publishing messaging editor */

.ailabs-publish-messaging-editor {
  h4 {
    margin: 8px 10px 0 0 !important;
    font-size: 16px !important;
    font-family: sans-serif !important;
    color: #555 !important;
  }
}
