
.ailabs-popup-anchortype-selector {
  td {
    width: 56px;
    height: 36px;
    vertical-align: middle;
  }

  .goog-css3-checkbox-input {
    margin: auto;
    width: 16px;
  }

  .goog-css3-checkbox-flexlayout {
    width: 16px;
    overflow: hidden;
  }
}

