@import "assets/ailabs/jclosure/mixins/respond-to.scss";

.crm-peoplestream-event-card-component {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  padding: 0 !important;

  svg.event-icon {
    width: 56px;
    min-width: 56px;
    height: 100%;
    fill: #ffffff;
  }

  /* Border top. Default (4 or more) */
  & {
    border-top: solid 2px #ff0000;
  }
  /* 1 */
  &.evt-forperson-1 {
    border-top: solid 2px #4b0082;
  }
  /* 2 */
  &.evt-forperson-2 {
    border-top: solid 2px #ffff00;
  }
  /* 3 */
  &.evt-forperson-3 {
    border-top: solid 2px #f38231;
  }

  .event-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    box-sizing: border-box;;
    height: 100%;
    padding: 6px 10px 3px 10px;
  }

  .event-info-top {
    display: flex;
    flex-direction: row;
  }

  .event-info-text {
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
  }

  .event-info-quickview-field {
    font-size: 10px;
    color: #8b0000;
    line-height: 10px;
    margin-right: 6px;
  }

  .event-info-aux {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /** Colours */
  .event-timestamp {
    color: #3498DB;
  }
  .event-location-name,
  .event-person-repeat-count {
    color: #368021;
  }

  /** Timestamp shown css */
  .event-timestamp {
    width: 100px;
    overflow: visible;
    white-space: nowrap;

    .absolute-format {
      display: none;
    }

    .relative-format {
      display: block;
    }
  }

  .event-timestamp:hover {
    .absolute-format {
      display: block;
    }

    .relative-format {
      display: none;
    }
  }

  /** Repeat count css */
  .event-person-repeat-count {
    width: 120px;
    text-align: right;
  }

  /** Lower threshold on mobile for width */
  @include respond-to($max: $medium) {
    .event-info-aux > * {
      width: auto !important;
    }
  }
}

/*** SVG icon colors */
li.crm-peoplestream-event-component {
  &:nth-child(7n+1) svg.event-icon {
    background-color: #3498db;
  }
  &:nth-child(7n+2) svg.event-icon {
    background-color: #f1c40f;
  }
  &:nth-child(7n+3) svg.event-icon {
    background-color: #9b59b6;
  }
  &:nth-child(7n+4) svg.event-icon {
    background-color: #34495e;
  }
  &:nth-child(7n+5) svg.event-icon {
    background-color: #f39c12;
  }
  &:nth-child(7n+6) svg.event-icon {
    background-color: #cb3f30;
  }
  &:nth-child(7n+7) svg.event-icon {
    background-color: #e67e22;
  }
}

li.crm-peoplestream-event-component .note-created-date {
  border-top: solid 2px #ff0000;
  margin-left: 8px;
  min-width: 136px;
  box-sizing: border-box;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/** Contains entire row */
li.crm-peoplestream-event-component {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: #333333;
}

/** Contains everything in a repeater */
.crm-peoplestream-component {
  > ul {
    padding: 4px;
    margin: 0;
  }
}

// Style for tags within peoplestream event
@mixin peoplestream-event-tag-mixin($colour) {
  border-radius: 2px;
  padding: 2px 4px;
  color: #ffffff;
  background-color: $colour;
}

.crm-peoplestream-event-card-component {
  // content type tags
  span.peoplestream-event-content-type {
    @include peoplestream-event-tag-mixin(#F3C500); // default
  }

  span.peoplestream-event-content-type.type-offer {
    @include peoplestream-event-tag-mixin(#EA4B35);
  }

  span.peoplestream-event-content-type.type-crm_form {
    @include peoplestream-event-tag-mixin(#7bec55);
  }

  span.peoplestream-event-content-type.type-dg5_brochure {
    @include peoplestream-event-tag-mixin(#334960);
  }

  span.peoplestream-event-content-type.type-brochure {
    @include peoplestream-event-tag-mixin(#334960);
  }

  span.peoplestream-event-content-type.type-cms_site_page {
    @include peoplestream-event-tag-mixin(#EA4B35);
  }

  // open type tags
  span.peoplestream-event-open-type-browser {
    @include peoplestream-event-tag-mixin(#2B97DD);
  }

  span.peoplestream-event-open-type-email {
    @include peoplestream-event-tag-mixin(#9C55B9);
  }

  // buy button
  span.peoplestream-event-buy-intent-button {
    @include peoplestream-event-tag-mixin(#6d9f2d);
  }
}
