

/** For delay modality editor only. */
.ailabs-promotion-point-delay-modality-editor {
  display: flex;
  flex-direction: row;

  > .goog-text-label {
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
  }
}
