@import "assets/ailabs/jclosure/mixins/respond-to.scss";

/** Common theme */
button.ailabs-player-seek-button
{
  user-select: none;
}

button.ailabs-player-seek-button
{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s;
  text-align: center;
}

button.ailabs-player-seek-button:hover
{
  opacity: 1;
}

button.ailabs-player-seek-button svg
{
  fill: currentColor;
  margin: auto;
  margin-top: 6px;
}

/** The Royals Theme (Default and the original -- Lorde is forever the queen) */
.ailabs-player-seek-button-theme-royals {
  background-color: #ffffff !important;
  color: #757575 !important;
  box-shadow: 0 7px 15px rgba(0,0,0,.2) !important;
  border-radius: 50% !important;
  height: 48px;
  width: 48px;

  &:hover {
    color: #000;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

/** The Melodrama Theme. Needs a dark background. */
.ailabs-player-seek-button-theme-melodrama {
  color: #ffffff;

  svg {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  svg {
    width: 48px;
    height: 48px;

    @include respond-to($min: $large) {
      width: 72px;
      height: 72px;
    }
  }
}
