
.ailabs-powerled-label
{
  .goog-text-label
  {
    line-height: 10px;
  }
}

/** Theme */
.ailabs-powerled-label
{
  .goog-text-label
  {
    margin-left: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
  }
}
