
.ailabs-category-checkbox-input
{
  position: relative;
  padding-right: 64px;
}

.ailabs-category-checkbox-input .goog-text-label
{
  position: absolute;
  right: 0;
  top: 0;

  font-weight: bold;
  font-size: 16px;
  color: #ab1212;
}
