
.goog-glyphbutton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  line-height: 0 !important;
  
  > * {
    display: flex;
    align-items: center;
  }

  .goog-glyphbutton-content {
    margin-left: 5px;
    flex-basis: 0;
    white-space: nowrap;
  }
}
