
.goog-input
{
  box-sizing: border-box;
  display: inline-block;
  margin: 0 !important;
  padding: 4px 6px !important;
  outline: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  font-family: inherit !important;
  font-size: 16px !important;
  color: #000 !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 0 !important;
}

.goog-input:hover,
.goog-input.goog-control-has-focus
{
  border-color: #4d90fe !important;
}

/** Height */
.goog-input
{
  min-height: 30px;
}
