
@mixin resizable-border-style
{
  /** Border style */
  border-style: solid;
  border-width: 1px;
  border-color: #615D55;
}

.goog-resizable
{
  @include resizable-border-style();
  overflow: visible;

  & > .goog-resizable-content {
    height: 100%;
  }

  & > .goog-resizer-handle
  {
    @include resizable-border-style();
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    z-index: 1;
  }
  
  /** Perfectly position column resizers */
  & > .goog-resizer-handle:nth-child(1) {
    transform: translate(0, -50%);
  }

  & > .goog-resizer-handle:nth-child(2) {
    transform: translate(-50%, -50%);
  }

  & > .goog-resizer-handle:nth-child(3) {
    transform: translate(-50%, 0);
  }

  & > .goog-resizer-handle:nth-child(4) {
    transform: translate(-50%, -50%);
  }

  & > .goog-resizer-handle:nth-child(5) {
    transform: translate(0, -50%);
  }

  & > .goog-resizer-handle:nth-child(6) {
    transform: translate(-50%, -50%);
  }

  & > .goog-resizer-handle:nth-child(7) {
    transform: translate(-50%, 0);
  }

  & > .goog-resizer-handle:nth-child(8) {
    transform: translate(-50%, -50%);
  }
}

/** Used to disable a resizable control */
.goog-resizable-disabled {
  pointer-events: none;

  & > .goog-resizer-handle {
    visibility: hidden;
  }
}
