
.goog-time-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;

  > .time-sep {
    font-weight: bold;
    padding: 2px;
  }

  > .goog-input {
    flex-grow: 1;
  }

  > .goog-input:last-child {
    margin-left: 5px !important;
  }
}
