
.goog-colour-swatch-menuitem
{
  display: inline-block;
  flex-direction: row;
  padding: 3px;
}

.goog-colour-swatch-menuitem.goog-checked
{
  background-color: #d3d3d3;
}

.goog-colour-swatch-menuitem a
{
  width: 1.4vw;
  height: 1.4vw;
  padding: 0 !important;

  transition: box-shadow linear 300ms;
}

.goog-colour-swatch-menuitem a:hover
{
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
